<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Forgot Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div style="margin: 10px; font-size: 16px;">
        <p th:text="${'Hello ' + name + ','}">
            Hello,
        </p>
        We have received a request to reset your LinguistAI password. Please enter the following code in your app:
        <br />
            <div style="margin: 10px; text-align: center; font-size: 32px; color: #22B8CF; ">
                <div style="border: 3px solid #22B8CF; border-radius: 20px; padding: 10px; display: inline-block;">
                    <b> <span th:text="${resetCode}">reset code</span> </b>
                </div>
            </div>
        Please note that the code will expire in <span th:text="${timeLimitHours}">24</span> hours.
        <br/>
        If you did not ask to change your password, then you can safely ignore this email and your password will not be changed.
        </div>
        <div style="margin: 10px; font-size: 16px;">
        Regards, <br/>
        <em th:text="${sign}" style="font-size: 16px;">Our team</em>
        <p>
            <img src='../Logo.png' th:src='|cid:${imageResourceName}|' alt="Logo" style="width: 8%; height: auto;">
        </p>
    </div>
</body>
</html>